.error {
  margin-top: 17.7rem;
  margin-bottom: 11rem;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 4rem;
  }
  // .error__img-wrapper

  &__img-wrapper {
    display: flex;
    align-items: center;
    gap: 34.9rem;
    position: relative;
  }

  // .error__img-nim

  &__img-num {
    color: $black;
    font-family: "CeraPro";
    font-size: 40rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6rem;
  }

  // .error__img-box

  &__img-box {
    position: absolute;
    width: 35.4rem;
    height: 37.4rem;
    left: 24.9rem;
    bottom: 8rem;
    & img {
      object-fit: contain;
    }
  }

  // .error__content-box

  &__content-box {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  // .error__title

  &__title {
  }

  // .error__desk

  &__desk {
  }

  // .error__btn

  &__btn {
    margin-top: 1.6rem;
    width: fit-content;
    padding: 1.4rem 2.4rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: $orange;
    color: $white;
    border-radius: 3.2rem;
    align-self: flex-start;
    transition: background-color 0.3s;
    align-self: center;
    &:hover {
      background-color: $black;
    }
  }

  // .error__btn-text

  &__btn-text {
  }

  // .error__btn-svg-box

  &__btn-svg-box {
    width: 2.4rem;
    height: 2.4rem;
    & svg {
      fill: $white;
      object-fit: contain;
    }
  }
}

@media (max-width: 48em) {
  .error {
    margin: 19.2rem 0 10rem;

    &__inner {
      gap: 8rem;
    }
    // .error__img-wrapper

    &__img-wrapper {
      gap: 32rem;
    }

    // .error__img-nim

    &__img-num {
      font-size: 34rem;
    }

    // .error__img-box

    &__img-box {
      width: 32.2rem;
      height: 31.4rem;
      left: 21rem;
      bottom: 8rem;
    }

    // .error__content-box

    &__content-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    // .error__title

    &__title {
    }

    // .error__desk

    &__desk {
      width: 60rem;
    }

    // .error__btn

    &__btn {
      margin-top: 5.6rem;
      border-radius: 6.4rem;
      padding: 2rem 4rem 2rem 4.8rem;
      display: flex;
      gap: 2rem;
    }

    // .error__btn-text

    &__btn-text {
      font-size: 2.8rem;
    }

    // .error__btn-svg-box

    &__btn-svg-box {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
}



