.about-accordeon {
    padding: 11rem 0;
    // .questions__inner

    &__inner {
    }

    // .questions__title

    &__title {
    }

    // .questions__accordion-wrapper

    &__accordion-wrapper {
    }

    // .questions__accordion

    &__accordion {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;

        width: 182rem;
        height: 79rem;
        // transform: translateZ(0);
        border-radius: 3.2rem;
        overflow: hidden;
        padding: 3.2rem;
        background-color: $light-grey;
    }

    // .questions__accordion-item

    &__accordion-item {
        border-radius: 0;
        background: $light-grey;
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        overflow: hidden;
        flex-grow: 1;
    }
    // .questions__accordion-count

    &__accordion-count {
        display: none;
    }

    // .questions__accordion-item-header

    &__accordion-item-header {
        border: 1px solid $black-50;
        border-radius: 2.4rem;

        padding: 3.2rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 0;
        height: 100%;
        justify-content: flex-end;
        width: 16rem;
        transition: opacity 0.6s 0.1s, width 0.6s 0.1s, padding 0.6s 0.1s;

        &.isActive + .about-accordeon__accordion-item-body {
            width: 140rem;

            & .about-accordeon__accordion-item-body-content {
                opacity: 1;
                transition: opacity 0.2s 0.6s;
            }
        }
        &.isActive {
            opacity: 0;
            padding: 0;
            visibility: hidden;
            width: 0;
        }
    }

    // .questions__accordion-title

    &__accordion-title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        height: 41.5rem;
    }

    // .questions__accordion-svg-wrapper
    &__accordion-svg-wrapper {
        display: none;
    }

    &__accordion-svg-box {
    }

    // .questions__accordion-item-body

    &__accordion-item-body {
        max-height: fit-content;
        overflow: hidden;
        width: 0;
        transition: width 0.6s;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__accordion-item-body-img-box {
        width: 69.4rem;
        height: 72.6rem;
        border-radius: 2.4rem;
        overflow: hidden;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    // .questions__accordion-item-body-content

    &__accordion-item-body-content {
        width: 58rem;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.1s;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        padding-left: 2.4rem;
        &--first{
            padding-left: 0;
        }
    }

    &__accordion-item-body-content-title {
       
    }
}

@media (max-width: 48em) {
    .about-accordeon {
        padding: 10rem 0;
        display: block;
        // .about-accordeon__inner

        // .about-accordeon__accordion-wrapper

        &__accordion-wrapper {
        }

        // .about-accordeon__accordion

        &__accordion {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            width: 100%;
            height: fit-content;
            // transform: translateZ(0);
            border-radius: 0;
            overflow: hidden;
            padding: 0;
            background-color: transparent;
        }

        // .about-accordeon__accordion-item

        &__accordion-item {
            background: $light-grey;
            border-radius: 4.8rem;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
        // .about-accordeon__accordion-count

        &__accordion-count {
            display: block;
            position: absolute;
            font-family: 'CeraPro';
            font-size: 16rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;

            font-size: 20rem;
            top: -1rem;
            left: 3.2rem;
            transition: color 0.3s, height 0.3s;
            overflow: hidden;
            height: 18rem;
            pointer-events: none;
        }

        // .about-accordeon__accordion-item-header

        &__accordion-item-header {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 20rem 4rem 4rem 4rem;
            justify-content: flex-start;
            gap: 0;
            width: 100%;
            border: none;
            border-radius: 0;
            &.active .about-accordeon__accordion-svg-wrapper {
                background-color: $orange;
            }
            &.active .about-accordeon__accordion-svg-box {
                transform: rotate(-90deg);
                & svg {
                    fill: $white;
                    stroke: $white;
                }
            }
            &.active ~ .about-accordeon__accordion-count {
                color: $orange;
                height: 20rem;
            }
            &.active + .about-accordeon__accordion-item-body {
                margin-bottom: 4rem;
            }
            &.active .about-accordeon__accordion-title {
                margin-top: 3rem;
            }
        }

        // .about-accordeon__accordion-title

        &__accordion-title {
            width: 100%;
            transition: margin-top 0.3s;
            writing-mode: horizontal-tb;
            transform: rotate(0);
            height: fit-content;

            font-size: 3.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 21.6px */
            letter-spacing: 0.72px;
        }

        // .about-accordeon__accordion-svg-wrapper
        &__accordion-svg-wrapper {
            background-color: $white;
            transition: background-color 0.3s;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            width: 10rem;
            height: 10rem;
            top: 4rem;
            right: 4rem;
        }

        &__accordion-svg-box {
            width: 2.4rem;
            height: 2.4rem;
            transition: transform 0.3s;

            & svg {
                object-fit: contain;
                fill: $black;
                stroke: $black;
                transition: fill 0.3s, stroke 0.3s;
            }
        }

        // .about-accordeon__accordion-item-body

        &__accordion-item-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s, margin-bottom 0.3s;
            margin-right: 3.2rem;
            padding: 0 4rem 0 4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        &__accordion-item-body-img-box {
            width: 63rem;
            height: 60rem;
            flex-shrink: 0;
            border-radius: 2.4rem;
            overflow: hidden;
            & img {
                object-fit: cover;
            }
        }
        // .about-accordeon__accordion-item-body-content

        &__accordion-item-body-content {
            color: $black-50;
            opacity: 1;
            height: fit-content;
            flex-shrink: 0;
            width: 100%;
        }

        &__accordion-item-body-content-title {
            display: none;
        }
    }
}
