.about-accordeon__inner {
    width: 182rem;
    height: 79rem;
    // transform: translateZ(0);
    border-radius: 3.2rem;
    overflow: hidden;
    padding: 3.2rem;
    background-color: $light-grey;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
}
/* Taille des onglets fermés */
.about-accordeon__inner .about-accordeon__link {
    position: relative;
    // float: left;
    width: 16.4rem;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.6s;
    // margin-right: 0.8rem;
}
.about-accordeon__inner .about-accordeon__link:not(:first-child) .about-accordeon__full-content {
    padding-left: 2.4rem;
}
/* Taille des onglets ouverts */
.about-accordeon__inner .about-accordeon__link.hovered {
    width: 141rem;

    // background-color: $light-grey;
}

.about-accordeon__inner .about-accordeon__link.hovered .about-accordeon__prev {
    opacity: 0;
}
.about-accordeon__prev-title {
}

.about-accordeon__inner .about-accordeon__link:not(.hovered) .about-accordeon__full-content {
    opacity: 0;
}

.about-accordeon__inner .about-accordeon__link .about-accordeon__full-content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    gap: 13.8rem;
    transition: opacity 0.3s;
    opacity: 1;
    
}

.about-accordeon__full-text-box {
    width: 58rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.about-accordeon__full-img-box {
    width: 69.4rem;
    height: 72.6rem;
    border-radius: 2.4rem;
    overflow: hidden;
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.about-accordeon__inner .about-accordeon__link .about-accordeon__prev {
    height: 100%;
    width: 100%;
    transition: width 0.55s 0.4s, height 0.55s, opacity 0.55s 0.2s;
    border-radius: 2.4rem;
    border: 1px solid $black-50;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 4.4rem 4rem;
    position: relative;
    background-color: $light-grey;
}

.about-accordeon__inner .about-accordeon__link .about-accordeon__prev > span {
    display: block;
    height: 41.5rem;
    // transition: 0.55s;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    right: 4rem;
    z-index: 1;
}

@media (max-width: 48em) {
    .about-accordeon__inner {
        display: none;
    }
}

.about-vert-accordeon {
    display: none;
}

@media (max-width: 48em) {
    .about-vert-accordeon {
        padding: 10rem 0;
        display: block;
        // .about-vert-accordeon__inner

        // .about-vert-accordeon__accordion-wrapper

        &__accordion-wrapper {
        }

        // .about-vert-accordeon__accordion

        &__accordion {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }

        // .about-vert-accordeon__accordion-item

        &__accordion-item {
            background: $light-grey;
            border-radius: 4.8rem;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
        // .about-vert-accordeon__accordion-count

        &__accordion-count {
            position: absolute;
            font-family: 'CeraPro';
            font-size: 16rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;

            font-size: 20rem;
            top: -1rem;
            left: 3.2rem;
            transition: color 0.3s, height 0.3s;
            overflow: hidden;
            height: 18rem;
            pointer-events: none;
        }

        // .about-vert-accordeon__accordion-item-header

        &__accordion-item-header {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 20rem 4rem 4rem 4rem;
            justify-content: flex-start;
            gap: 0;
            width: 100%;

            &.active .about-vert-accordeon__accordion-svg-wrapper {
                background-color: $orange;
            }
            &.active .about-vert-accordeon__accordion-svg-box {
                transform: rotate(-90deg);
                & svg {
                    fill: $white;
                    stroke: $white;
                }
            }
            &.active ~ .about-vert-accordeon__accordion-count {
                color: $orange;
                height: 20rem;
            }
            &.active + .about-vert-accordeon__accordion-item-body {
                margin-bottom: 4rem;
            }
            &.active .about-vert-accordeon__accordion-title {
                margin-top: 3rem;
            }
        }

        // .about-vert-accordeon__accordion-title

        &__accordion-title {
            width: 100%;
            transition: margin-top 0.3s;
        }

        // .about-vert-accordeon__accordion-svg-wrapper
        &__accordion-svg-wrapper {
            background-color: $white;
            transition: background-color 0.3s;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            width: 10rem;
            height: 10rem;
            top: 4rem;
            right: 4rem;
        }

        &__accordion-svg-box {
            width: 2.4rem;
            height: 2.4rem;
            transition: transform 0.3s;

            & svg {
                object-fit: contain;
                fill: $black;
                stroke: $black;
                transition: fill 0.3s, stroke 0.3s;
            }
        }

        // .about-vert-accordeon__accordion-item-body

        &__accordion-item-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s, margin-bottom 0.3s;
            margin-right: 3.2rem;
            padding: 0 4rem 0 4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        &__accordion-item-body-img-box {
            width: 63rem;
            height: 60rem;
            flex-shrink: 0;
            border-radius: 2.4rem;
            overflow: hidden;
            & img {
              object-fit: contain;
            }
        }
        // .about-vert-accordeon__accordion-item-body-content

        &__accordion-item-body-content {
            color: $black-50;
        }
    }
}
