.blog {
  padding: 11rem 0;
  // .blog__inner

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 11rem;
  }

  // .blog__header-box

  &__header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }

  // .blog__header-title

  &__header-title {
  }

  // .blog__header-btn

  &__header-btn {
    background-color: $green;
  }

  // .blog__header-btn-text

  &__header-btn-text {
  }

  // .blog__header-btn-svg-box

  &__header-btn-svg-box {
    & svg {
      fill: $black;
    }
  }

  // .blog__swiper-box

  &__swiper-box {
    margin: 0 -5rem;
  }

  // .blog__swiper

  &__swiper {
  }

  // .blog__swiper-wrapper

  &__swiper-wrapper {
    padding-left: 5rem;
  }

  // .blog__swiper-slide

  &__swiper-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    height: auto !important;
  }

  // .blog__swiper-slide-inner

  &__swiper-slide-inner {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  // .blog__swiper-slide-inner--article

  &__swiper-slide--article {
    width: 59.8rem !important;
    & .blog__swiper-slide-img-box {
      width: 59.8rem;
      height: 55.7rem;
    }
  }

  // .blog__swiper-slide-inner--video

  &__swiper-slide--video {
    width: 90.4rem !important;
    & .blog__swiper-slide-img-box {
      margin-top: 0.7rem;
      width: 90.4rem;
      height: 59.7rem;
    }
  }

  // .blog__swiper-slide-inner--article-min

  &__swiper-slide--article-min {
    width: 42.8rem !important;
    & .blog__swiper-slide-img-box {
      width: 42.8rem;
      height: 37.8rem;
    }
  }

  // .blog__swiper-slide-img-box

  &__swiper-slide-img-box {
    border-radius: 4rem;
    overflow: hidden;
    position: relative;
    & img {
      object-fit: contain;
    }
  }

  // .blog__swiper-slide-img-box-link

  &__swiper-slide-img-box-link {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    width: 6rem;
    height: 6rem;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    &:hover {
      background-color: $orange;
      & .blog__swiper-slide-img-box-link-svg-box svg {
        fill: $white;
        stroke: $white;
        transition: fill 0.3s, stroke 0.3s;
      }
    }
  }

  // .blog__swiper-slide-img-box-link-svg-box

  &__swiper-slide-img-box-link-svg-box {
    width: 1.6rem;
    height: 1.6rem;
    & svg {
      object-fit: contain;
      fill: $black;
      stroke: $black;
      transition: fill 0.3s, stroke 0.3s;
    }
  }

  // .blog__swiper-slide-category

  &__swiper-slide-category {
    padding-left: 1.8rem;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      width: 0.6rem;
      height: 0.6rem;
      background-color: $black;
      border-radius: 50%;
    }
  }

  // .blog__swiper-slide-title

  &__swiper-slide-title {
  }

  // .blog__swiper-slide-img-box-data

  &__swiper-slide-img-box-data {
    position: absolute;
    padding: 0.6rem 1.2rem;
    border-radius: 2.4rem;
    background: $white;

    top: 3.2rem;
    left: 3.2rem;
  }

  // .blog__swiper-slide-img-box-category

  &__swiper-slide-img-box-category {
    position: absolute;
    padding: 0.6rem 1.2rem 0.6rem 2.4rem;
    left: 3.2rem;
    top: 8.5rem;
    border-radius: 2.4rem;
    border: 1px solid $white;
    color: $white;
    display: flex;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      left: 1.2rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: $white;
      border-radius: 50%;
    }
  }

  // .blog__swiper-slide-img-box-video-link

  &__swiper-slide-img-box-video-link {
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    bottom: 3.2rem;
    left: 3.2rem;
    border-radius: 3.2rem;
    background: rgba(253, 253, 253, 0.4);
    backdrop-filter: blur(10px);
    color: $white;
  }

  // .blog__swiper-slide-img-box-video-link-btn

  &__swiper-slide-img-box-video-link-btn {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
  }

  // .blog__swiper-slide-img-box-video-link-btn-svg-box

  &__swiper-slide-img-box-video-link-btn-svg-box {
    width: 0.8rem;
    height: 1rem;
    & svg {
      object-fit: contain;
    }
  }

  // .blog__swiper-slide-img-box-video-link-text

  &__swiper-slide-img-box-video-link-text {
  }

  // .blog__swiper-slide-swiper-button-prev

  &__swiper-button-prev.swiper-button-prev {
    left: 4.5rem;
  }

  // .blog__swiper-slide-swiper-button-next

  &__swiper-button-next.swiper-button-next {
    right: 4.5rem;
  }
}
@media (max-width: 48em) {
  .blog {
    padding: 10rem 0;
    // .blog__inner
  
    &__inner {
      gap: 8rem;
      padding-bottom: 17.6rem;
      position: relative;
    }
  
    // .blog__header-box
  
    &__header-box {
      justify-content: flex-start;
    }
  
    // .blog__header-title
  
    &__header-title {
    }
  
    // .blog__header-btn
  
    &__header-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  
    // .blog__header-btn-text
  
    &__header-btn-text {
    }
  
    // .blog__header-btn-svg-box
  
    &__header-btn-svg-box {

    }
  
    // .blog__swiper-box
  
    &__swiper-box {

    }
  
    // .blog__swiper
  
    &__swiper {
    }
  
    // .blog__swiper-wrapper
  
    &__swiper-wrapper {
 
    }
  
    // .blog__swiper-slide
  
    &__swiper-slide {
   
    }
  
    // .blog__swiper-slide-inner
  
    &__swiper-slide-inner {
      gap: 2.4rem;
    }
  
    // .blog__swiper-slide-inner--article
  
    &__swiper-slide--article {
      width: 67rem !important;
      
      & .blog__swiper-slide-img-box {
        width: 67rem;
        height: 64rem;
      }
    }
  
    // .blog__swiper-slide-inner--video
  
    &__swiper-slide--video {
      width: 67rem !important;
      & .blog__swiper-slide-img-box {
        width: 67rem;
        height: 64rem;
      }
    }
  
    // .blog__swiper-slide-inner--article-min
  
    &__swiper-slide--article-min {
      width: 67rem !important;
      & .blog__swiper-slide-img-box {
        width: 67rem;
        height: 64rem;
      }
    }
  
    // .blog__swiper-slide-img-box
  
    &__swiper-slide-img-box {
      border-radius: 4.8rem;
      & img {
        object-fit: cover;
    width: 100%;
    height: 100%;
      }
    }
  
    // .blog__swiper-slide-img-box-link
  
    &__swiper-slide-img-box-link {
      position: absolute;
      top: 4rem;
      right:4rem;
      width: 10rem;
      height: 10rem;
     
    }
  
    // .blog__swiper-slide-img-box-link-svg-box
  
    &__swiper-slide-img-box-link-svg-box {
      width: 2.4rem;
      height: 2.4rem;
    }
  
    // .blog__swiper-slide-category
  
    &__swiper-slide-category {
      padding-left: 3.6rem;
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        width: 1.2rem;
        height: 1.2rem;
        background-color: $black;
        border-radius: 50%;
      }
    }
  
    // .blog__swiper-slide-title
  
    &__swiper-slide-title {
    }
  
    // .blog__swiper-slide-img-box-data
  
    &__swiper-slide-img-box-data {
      padding: 1.2rem 2.4rem;
      border-radius: 4.8rem;
      top: 4rem;
      left: 4rem;
    }
  
    // .blog__swiper-slide-img-box-category
  
    &__swiper-slide-img-box-category {
      position: absolute;
      padding: 1.2rem 2.4rem 1.2rem 5.2rem;
      left: 4rem;
      top: 12rem;
      border-radius: 5.6rem;
      &::before {
        left: 2.6rem;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  
    // .blog__swiper-slide-img-box-video-link
  
    &__swiper-slide-img-box-video-link {
      padding: 0.8rem 1.6rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      position: absolute;
      bottom: 3.2rem;
      left: 3.2rem;
      border-radius: 3.2rem;
      background: rgba(253, 253, 253, 0.4);
      backdrop-filter: blur(10px);
      color: $white;
    }
  
    // .blog__swiper-slide-img-box-video-link-btn
  
    &__swiper-slide-img-box-video-link-btn {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
    }
  
    // .blog__swiper-slide-img-box-video-link-btn-svg-box
  
    &__swiper-slide-img-box-video-link-btn-svg-box {
    }
  
    // .blog__swiper-slide-img-box-video-link-text
  
    &__swiper-slide-img-box-video-link-text {
    }
  
    // .blog__swiper-slide-swiper-button-prev
  
    &__swiper-button-prev.swiper-button-prev {
display: none;

    }
  
    // .blog__swiper-slide-swiper-button-next
  
    &__swiper-button-next.swiper-button-next {
      display: none;
    }
  }
}

