.catalog {
    padding-top: 17.7rem;
    &__title {
        margin-bottom: 6rem;
    }
    &__information {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        margin-bottom: 12rem;
    }
    &__categories {
        overflow: hidden;
    }
    &__subcategories {
        display: none;
        .range__swiper {
            opacity: 0;
            width: 0;
            height: 0;
            position: absolute;
            z-index: -1;
        }
    }
    &__types {
        display: grid;
        grid-auto-flow: column;
        gap: 0 1.2rem;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        &-box {
            width: 25rem;
            height: 17.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 2.5rem 5.2rem;
            background-color: #f6f6f6;
            border-radius: 1.6rem;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &._isActive {
                color: #fff;
                background-color: #fc5b31;
                transition: all 0.5s ease-in-out;
            }
        }
        &-image {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }
        &-title {
            flex: 1 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    &__tags {
        display: flex;
        gap: 1.2rem;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        &-box {
            width: fit-content;
            flex: none;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            padding: 2.4rem 2rem;
            border-radius: 3.2rem;
            background-color: #f6f6f6;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &._isActive {
                background-color: #c6ef4e;
                transition: all 0.5s ease-in-out;
            }
        }
        &-count {
            color: rgba(18, 35, 26, 0.5);
        }
    }
    &__filter {
        position: relative;
        &._isActive {
            .catalog__filter {
                &-heading {
                    &::after {
                        transform: rotate(180deg);
                        transition: transform 0.5s ease;
                    }
                }
                &-inner {
                    max-height: 100vh;
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
        &-heading {
            width: fit-content;
            padding-right: 3.2rem;
            position: relative;
            cursor: pointer;
            &::after {
                content: '';
                width: 2.4rem;
                height: 2.4rem;
                background-image: url('./assets/images/icons/catalog1.svg');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 0;
                transition: transform 0.5s ease;
            }
        }
        &-inner {
            position: absolute;
            top: calc(100% + 0.8rem);
            right: 0;
            width: 32rem;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            padding: 4rem;
            background-color: #f6f6f6;
            border-radius: 1.6rem;

            max-height: auto;
            opacity: 0;
            overflow: hidden;
            z-index: 0;
            transition: max-height 0.5s ease, opacity 0.5s ease;
        }
    }
    &__option {
        position: relative;
        cursor: pointer;
        &-input:checked + &-text {
            font-weight: 500;
        }
        &-input:checked + &-text::before {
            border: 2px solid #fc5b31;
        }
        &-input:checked + &-text::after {
            transform: scale(0.6);
        }
        &-text {
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            @media (max-width: 48em) {
                gap: 1.6rem;
            }
            &::before {
                content: '';
                align-self: flex-start;
                flex: 0 0 3rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                border: 2px solid #e9e8e8;
                transition: border 0.3s ease;
                @media (max-width: 48em) {
                    flex: 0 0 4.8rem;
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: #fc5b31;
                transform: scale(0);
                transform-origin: center;
                transition: transform 0.3s ease;
                @media (max-width: 48em) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }
        }
    }
    &-list {
        &._catalog {
            margin-top: 5rem;
        }
        &._favourites {
            padding-top: 17.7rem;
        }
        &__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 7rem;
        }
        &__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: max-content(4);
            gap: 2.4rem 1.2rem;
            .product-card {
                margin: 0;
            }
        }
        &__empty {
            padding: 11rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2.4rem;
            .catalog-list__btn {
                color: #fff;
                background-color: #fc5b31;
                &-icon {
                    svg {
                        fill: #fff;
                    }
                }
            }
        }
        &__pagination-wpapper {
            margin-top: 5rem;
        }
    }
}
@media (max-width: 48em) {
    .catalog {
        &__information {
            gap: 6.4rem;
            margin-bottom: 10rem;
        }
        &__types {
            gap: 0 1.2rem;
            &-box {
                width: 30rem;
                height: 22rem;
                gap: 1.6rem;
                padding: 2.4rem 3.2rem;
                border-radius: 3.2rem;
            }
            &-image {
                width: 8rem;
                height: 8rem;
            }
        }
        &__tags {
            gap: 0.8rem;
            &-box {
                gap: 0.8rem;
                padding: 3.2rem 2.8rem;
            }
        }
        &__filter {
            display: none;
        }
        &-list {
            &._catalog {
                margin-top: 2.4rem;
            }
            &__heading {
                align-items: flex-start;
                margin-bottom: 4.8rem;
            }
            &__content {
                grid-template-columns: repeat(2, 35rem);
                grid-template-rows: repeat(6, 1fr);
                gap: 1.6rem 1.4rem;
            }
            &__pagination-wpapper {
                margin-top: 6.4rem;
            }
            &__empty {
                gap: 4.8rem;
                .catalog-list__text {
                    text-align: center;
                }
                .catalog-list__btn {
                    width: 100%;
                }
            }
        }
    }
}
