.making-order {
    padding-top: 17.7rem;
    &__title {
        margin-bottom: 6rem;
        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 111rem 1fr;
        gap: 11.2rem;
        @media (max-width: 48em) {
            grid-template-columns: 1fr;
            gap: 20rem;
        }
        &-right {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            @media (max-width: 48em) {
                gap: 3.2rem;
            }
        }
    }
    &__menu {
        margin-bottom: 4rem;
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
        }
    }
    &__swiper {
        margin-top: 0;
        border-top: 2px solid rgba(18, 35, 26, 0.1);
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        @media (max-width: 48em) {
            gap: 4.8rem;
        }
        &-title {
            margin-bottom: 2.4rem;
            @media (max-width: 48em) {
                margin-bottom: 3.2rem;
            }
        }
        &-inputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4rem;
            @media (max-width: 48em) {
                grid-template-columns: 1fr;
                gap: 3.2rem;
            }
        }
        &-label {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 1rem;
                height: 1rem;
                color: #fc5b31;
                top: 50%;
                right: 2.4rem;
                transform: translateY(-50%);
                font-size: 1.4rem;
                background-image: url('./assets/images/icons/star.svg');
            }
        }
        &-input {
            width: 100%;
            color: #000;
            padding: 1.4rem 19.2rem 1.4rem 2.4rem;
            background-color: #fff;
            border-radius: 3.2rem;
            @media (max-width: 48em) {
                border-radius: 6.4rem;
                padding: 2.4rem 9rem 2.4rem 4rem;
            }
        }
        &-textarea {
            width: 100%;
            height: 14rem;
            color: #000;
            padding: 1.4rem 19.2rem 1.4rem 2.4rem;
            background-color: #fff;
            border-radius: 3.2rem;
            resize: none;
            @media (max-width: 48em) {
                height: 24rem;
                padding: 2.4rem 4rem;
                border-radius: 4.8rem;
            }
        }
    }
    &__write-off-bonuses {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        padding: 4rem;
        background-color: #f6f6f6;
        border-radius: 4rem;
        @media (max-width: 48em) {
            border-radius: 4.8rem;
        }
        .write-off-bonuses {
            &__deduct-points {
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                background-color: #fc5b31;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @media (max-width: 48em) {
                    width: 9.6rem;
                    height: 9.6rem;
                }
                & > img {
                    width: 3.2rem;
                    height: 3.2rem;
                    @media (max-width: 48em) {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }
            }
            &__texts {
                flex: 1 1;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                @media (max-width: 48em) {
                    gap: 4.8rem;
                }
            }
            &__question {
                align-self: flex-start;
                cursor: pointer;
                & > img {
                    width: 3.2rem;
                    height: 3.2rem;
                    @media (max-width: 48em) {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }
            }
        }
    }
    &__accordion {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        @media (max-width: 48em) {
            gap: 3.2rem;
        }
        &-element {
            padding: 4rem;
            background-color: #f6f6f6;
            border-radius: 4rem;
            @media (max-width: 48em) {
                border-radius: 4.8rem;
            }
        }
        &-heading {
            display: flex;
            align-items: center;
            gap: 2.4rem;
            &.active {
                .making-order__accordion-swapper {
                    & > img {
                        transform: rotate(90deg);
                        transition: transform 0.5s ease-in-out;
                    }
                }
            }
        }
        &-content {
            max-height: 0;
            margin-top: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in, margin-top 0.5s ease-in;
            &._options {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                @media (max-width: 48em) {
                    gap: 1.6rem;
                }
            }
        }
        &-number {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: #c6ef4e;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 48em) {
                width: 8rem;
                height: 8rem;
            }
        }
        &-swapper {
            flex: 1 1;
            display: flex;
            justify-content: flex-end;
            & > img {
                width: 3.2rem;
                height: 3.2rem;
                transition: transform 0.5s ease-in-out;
                @media (max-width: 48em) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }
        }
    }
    &__delivery {
        &-types {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 0.8rem;
            @media (max-width: 48em) {
                grid-template-columns: repeat(2, 1fr);
                gap: 1.6rem;
            }
            &-element {
                padding: 2.4rem 0.5rem;
                background-color: #fdfdfd;
                border-radius: 1.6rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                text-align: center;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &._active {
                    color: #fff;
                    background-color: #fc5b31;
                    transition: all 0.5s ease-in-out;
                    .making-order__delivery-types-price {
                        color: #fff;
                        transition: all 0.5s ease-in-out;
                    }
                }
                @media (max-width: 48em) {
                    padding: 3.2rem 4rem;
                    border-radius: 3.2rem;
                    gap: 0.8rem;
                }
            }
            &-price {
                color: rgba(18, 35, 26, 0.5);
                transition: all 0.5s ease-in-out;
            }
        }
        &-content {
            margin-top: 4rem;
            @media (max-width: 48em) {
                margin-top: 6.4rem;
            }
        }
        &-map {
            height: 49.8rem;
            border-radius: 4rem;
            overflow: hidden;
            @media (max-width: 48em) {
                height: 98rem;
                border-radius: 4.8rem;
            }
        }
        &-first {
            &-text {
                margin-bottom: 1.6rem;
                @media (max-width: 48em) {
                    margin-bottom: 2.4rem;
                }
            }
            &-address {
                display: flex;
                gap: 1.6rem;
                margin-bottom: 4rem;
                @media (max-width: 48em) {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    margin-bottom: 6.4rem;
                }
            }
            &-result {
                display: flex;
                align-items: flex-end;
                gap: 1.6rem;
            }
        }
        &-second {
            &-search {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                margin-bottom: 4rem;
                label {
                    width: 50rem;
                    @media (max-width: 48em) {
                        width: 100%;
                    }
                }
                @media (max-width: 48em) {
                    gap: 3.2rem;
                    margin-bottom: 4.8rem;
                }
            }
            &-tabs {
                &-heading {
                    display: flex;
                    gap: 4rem;
                    @media (max-width: 48em) {
                        gap: 8rem;
                    }
                }
                &-content {
                    margin-top: 2.4rem;
                    margin-bottom: 4rem;
                    &-second {
                        display: none;
                    }
                    &-first {
                        max-height: 49rem;
                        padding: 3.2rem;
                        background-color: #fff;
                        border-radius: 1.6rem;
                        @media (max-width: 48em) {
                            max-height: 110rem;
                            border-radius: 3.2rem;
                        }
                    }
                    @media (max-width: 48em) {
                        margin-top: 3.2rem;
                        margin-bottom: 6.4rem;
                    }
                }
            }
            &-list {
                max-height: 44rem;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                overflow-x: hidden;
                padding-right: 2rem;
                margin-right: -2rem;
                &::-webkit-scrollbar {
                    width: 2px;
                    height: 8rem;
                }
                &::-webkit-scrollbar-track {
                    background-color: rgba(18, 35, 26, 0.1);
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(18, 35, 26, 0.3);
                    border-radius: 0;
                }
                @media (max-width: 48em) {
                    max-height: 105rem;
                }
                .making-order__delivery-second-item {
                    padding: 2.4rem 0;
                    border-top: 1px solid rgba(18, 35, 26, 0.1);
                    &:first-child {
                        padding-top: 0;
                        border-top: none;
                    }
                }
            }
            &-item {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                @media (max-width: 48em) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 3.2rem;
                }
            }
            &-info {
                &-title {
                    margin-bottom: 2.4rem;
                }
                &-address {
                    margin-bottom: 0.8rem;
                    @media (max-width: 48em) {
                        margin-bottom: 1.6rem;
                    }
                }
                &-schedule {
                    color: rgba(18, 35, 26, 0.5);
                }
            }
            &-result {
                display: flex;
                align-items: flex-end;
                gap: 1.6rem;
            }
            &-btn {
                height: fit-content;
                padding: 1.4rem 2.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3rem;
                background-color: #fc5b31;
                color: #fdfdfd;
                border-radius: 3.2rem;
                transition: background-color 0.3s;
                @media (max-width: 48em) {
                    padding: 2rem 4rem;
                    border-radius: 6.4rem;
                }
                &:hover {
                    background-color: #0e1c15;
                }
                &-icon {
                    width: 2.4rem;
                    height: 2.4rem;
                    @media (max-width: 48em) {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                    & > svg {
                        fill: #fff;
                    }
                }
            }
        }
        &-third {
            &-title {
                margin-bottom: 2.4rem;
                @media (max-width: 48em) {
                    margin-bottom: 3.2rem;
                }
            }
            &-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2.4rem;
                margin-bottom: 2.4rem;
                @media (max-width: 48em) {
                    grid-template-columns: 1fr;
                    gap: 3.2rem;
                    margin-bottom: 3.2rem;
                }
            }
            &-input {
                width: 100%;
                color: #000;
                padding: 1.4rem 19.2rem 1.4rem 2.4rem;
                background-color: #fff;
                border-radius: 3.2rem;
                @media (max-width: 48em) {
                    border-radius: 6.4rem;
                    padding: 2.4rem 9rem 2.4rem 4rem;
                }
            }
            &-textarea {
                width: 100%;
                height: 14rem;
                color: #000;
                padding: 1.4rem 19.2rem 1.4rem 2.4rem;
                background-color: #fff;
                border-radius: 3.2rem;
                resize: none;
                @media (max-width: 48em) {
                    height: 24rem;
                    padding: 2.4rem 4rem;
                    border-radius: 4.8rem;
                }
            }
            &-result {
                margin-top: 4rem;
                display: flex;
                align-items: flex-end;
                gap: 1.6rem;
                @media (max-width: 48em) {
                    margin-top: 6.4rem;
                }
            }
        }
        &-fourth {
            &-text {
                max-width: 70.2rem;
                @media (max-width: 48em) {
                    max-width: 100%;
                }
            }
        }
    }
    &__option {
        display: flex;
        position: relative;
        cursor: pointer;
        &-input:checked + &-box::before {
            border: 2px solid #fc5b31;
        }
        &-input:checked + &-box::after {
            transform: scale(0.6);
        }
        &-box {
            flex: 1;
            display: inline-flex;
            align-items: center;
            gap: 1.6rem;
            cursor: pointer;
            &._payment {
                padding: 3.2rem;
                background-color: #fff;
                border-radius: 1.6rem;
                @media (max-width: 48em) {
                    border-radius: 3.2rem;
                }
                &::after {
                    left: 3.2rem;
                }
            }
            &::before {
                content: '';
                align-self: flex-start;
                flex: 0 0 3.2rem;
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
                border: 2px solid #e9e8e8;
                transition: border 0.3s ease;
                @media (max-width: 48em) {
                    flex: 0 0 4.8rem;
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
                background-color: #fc5b31;
                transform: scale(0);
                transform-origin: center;
                transition: transform 0.3s ease;
                @media (max-width: 48em) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }
        }
        &-icon {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            & > img {
                width: 3.2rem;
                height: 3.2rem;
                @media (max-width: 48em) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }
        }
    }
}
