.questions {
  padding: 11rem 0;
  // .questions__inner

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  // .questions__title

  &__title {
  }

  // .questions__accordion-wrapper

  &__accordion-wrapper {
  }

  // .questions__accordion

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  // .questions__accordion-item

  &__accordion-item {
    border-radius: 4rem;
    background: $light-grey;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  // .questions__accordion-count

  &__accordion-count {
    position: absolute;
    font-family: "CeraPro";
    font-size: 16rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    top: -1rem;
    left: 3.2rem;
    transition: color 0.3s;
  }

  // .questions__accordion-item-header

  &__accordion-item-header {
    padding: 3.2rem;
  cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20rem;
    width: 100%;
    justify-content: flex-end;
    &.active ~ .questions__accordion-count {
      color: $orange;
    }
    &.active + .questions__accordion-item-body {
      margin-bottom: 3.2rem;
    }
    &.active .questions__accordion-svg-wrapper {
      background-color: $orange;
    }
    &.active .questions__accordion-svg-box {
    transform: rotate(-90deg);
    & svg {
        fill: $white;
        stroke: $white;
    }
    }
  }

  // .questions__accordion-title

  &__accordion-title {
    width: 59.7rem;
  }

  // .questions__accordion-svg-wrapper
  &__accordion-svg-wrapper {
    width: 6rem;
    height: 6rem;
    background-color: $white;
    transition: background-color 0.3s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__accordion-svg-box {
    width: 1.6rem;
    height: 1.6rem;
    transition: transform 0.3s;

    & svg {
      object-fit: contain;
      fill: $black;
      stroke: $black;
      transition: fill 0.3s, stroke 0.3s;
    }
  }

  // .questions__accordion-item-body

  &__accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, margin-bottom 0.3s;
    width: 86rem;
    margin-right: 3.2rem;
  }

  // .questions__accordion-item-body-content

  &__accordion-item-body-content {
    width: 59.7rem;
  }
}

@media (max-width: 48em) {
  .questions {
    padding: 15rem 0;
    // .questions__inner
  
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 8rem;
    }
  
    // .questions__title
  
    &__title {
    }
  
    // .questions__accordion-wrapper
  
    &__accordion-wrapper {
    }
  
    // .questions__accordion
  
    &__accordion {
      gap: 1.6rem;
    }
  
    // .questions__accordion-item
  
    &__accordion-item {
      border-radius: 4.8rem;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    // .questions__accordion-count
  
    &__accordion-count {
      font-size: 20rem;
      top: -1rem;
      left: 3.2rem;
      transition: color 0.3s, height 0.3s;
overflow: hidden;
      height: 18rem;
    }
  
    // .questions__accordion-item-header
  
    &__accordion-item-header {
      padding: 20rem 4rem 4rem 4rem;
      justify-content: flex-start;
      gap:0;
      width: 100%;
      &.active ~ .questions__accordion-count {
        color: $orange;
        height: 20rem;
      }
      &.active + .questions__accordion-item-body {
        margin-bottom: 4rem;
      }
      &.active .questions__accordion-title {
     margin-top: 3rem;
      }
      &.active .questions__accordion-svg-box {

      }
    }
  
    // .questions__accordion-title
  
    &__accordion-title {
      width: 100%;
      transition: margin-top 0.3s;
    }
  
    // .questions__accordion-svg-wrapper
    &__accordion-svg-wrapper {
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: 4rem;
      right: 4rem;
    }
  
    &__accordion-svg-box {
      width: 2.4rem;
      height: 2.4rem;
    }
  
    // .questions__accordion-item-body
  
    &__accordion-item-body {
      padding: 0 4rem 0 4rem;
      width: 100%;
    }
  
    // .questions__accordion-item-body-content
  
    &__accordion-item-body-content {
      
    }
  }
}