.satisfied {
	padding: 11rem 0;

		// .satisfied__inner

		&__inner {
			border-radius: 3.2rem;
			background: $light-grey;
			padding: 8rem 0 8rem 4rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 6rem;

		}

		// .satisfied__title

		&__title {
		}

		// .satisfied__swiper-box

		&__swiper-box {
			display: flex;
			align-items: center;
			gap: 12rem;
			width: 100%;
			height: 75rem;
		}

		// .satisfied__swiper

		&__swiper {
		}

		// .satisfied__slide

		&__slide.swiper-slide {
			width: 40rem!important
			;
			user-select: none;
			cursor: pointer;
			img {
				width: 100%;
				object-fit: cover;
			} 
		} 
		// .satisfied__swiper-btn-box

		&__swiper-btn-box {
			min-width: 6rem;
			height: fit-content;
			flex-grow: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: 1.2rem;


		}


		&__swiper-button-prev.swiper-button-prev.button-swiper,
		&__swiper-button-next.swiper-button-next.button-swiper {
				position: static!important;
				margin-top: 0!important;
		
		}
}
@media (max-width: 48em) {
	.satisfied {
		padding: 10rem 0;
	
			// .satisfied__inner
	
			&__inner {
				border-radius: 4.8rem;
				padding: 8rem 0 8rem;
				gap: 8rem;
	
			}
	
			// .satisfied__title
	
			&__title {
			}
	
			// .satisfied__swiper-box
	
			&__swiper-box {
				flex-direction: column-reverse;
				align-items: center;
				gap: 6.4rem;
				width: 100%;
				height: fit-content;
			}
	
			// .satisfied__swiper
	
			&__swiper {
				width: 100%!important;
				height: 74.8rem!important;
			}
	
			// .satisfied__slide
	
			&__slide.swiper-slide {
				width: 40rem!important;
				user-select: none;
			} 
			// .satisfied__swiper-btn-box
	
			&__swiper-btn-box {
				min-width: 6rem;
				height: fit-content;
				flex-grow: 1;
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 1.2rem;
	
	
			}
	
	
			&__swiper-button-prev.swiper-button-prev.button-swiper,
			&__swiper-button-next.swiper-button-next.button-swiper {
					position: static!important;
					margin-top: 0!important;
			
			}
	}
  }

