.review-hero {
  padding: 17.7rem 0 11rem;
  // .review-hero__inner

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  // .review-hero__header-box

  &__header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .review-hero__title

  &__title {
  }

  // .review-hero__btn

  &__btn {
    background-color: $green;
  }

  // .review-hero__btn-text

  &__btn-text {
  }

  // .review-hero__btn-svg-box

  &__btn-svg-box {
    & svg {
      fill: $black;
    }
  }

  &__img-wrapper{
width: 100%;
height: 100%;
  }

  // .review-hero__img-box

  &__img-box {
    position: relative;
    border-radius: 3.2rem 3.2rem 3.2rem 0;
    overflow: hidden;
    width: 182rem;
    height: 60rem;
    & img {
      object-fit: contain;
    }
  }

  // .review-hero__img-text-box

  &__img-text-box {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  // .review-hero__img-text

  &__img-text {
    color: $black-50;
    background-color: $white;
    border-radius: 0 3.2rem 0 0;
    padding-top: 1.2rem;
    position: relative;
width: 37.4rem;

    &::after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 4rem;
        height: 4rem;
        border-radius: 0 0 0 4rem;
        box-shadow: -1rem 1rem 0 0.5rem $white;
      }
      &::before {
        content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 4rem;
    height: 4rem;
    border-radius: 0 0 0 4rem;
    box-shadow: -1rem 1rem 0 0.5rem $white;

      }
  }
}


@media (max-width: 48em) {
  .review-hero {
    padding: 19.2rem 0 10rem;
    // .review-hero__inner
  
    &__inner {
      gap: 2.4rem;
      padding-bottom: 13.6rem;
      position: relative;
    }
  
    // .review-hero__header-box
  
    &__header-box {
  
    }
  
    // .review-hero__title
  
    &__title {
    }
  
    // .review-hero__btn
  
    &__btn {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
    }
  
    // .review-hero__btn-text
  
    &__btn-text {
    }
  
    // .review-hero__btn-svg-box
  
    &__btn-svg-box {
 
    }
  
    // .review-hero__img-box
  
    &__img-wrapper{
      width:  100%;
      height: 40rem;
      border-radius: 4.8rem;
 overflow: hidden;
      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
        }
      
        // .review-hero__img-box
      
        &__img-box {
          border-radius: none;
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column-reverse;
          gap: 4.8rem;

        }
  
    // .review-hero__img-text-box
  
    &__img-text-box {
      position: static;
    }
  
    // .review-hero__img-text
  
    &__img-text {
      color: $black-50;
      background-color: $white;
      border-radius: 0 3.2rem 0 0;
      padding-top: 1.2rem;
      position: relative;
  width: 100%;
  
      &::after {
          content: "";
          position: absolute;
          left: 100%;
          bottom: 0;
          width: 4rem;
          height: 4rem;
          border-radius: 0 0 0 4rem;
          box-shadow: -1rem 1rem 0 0.5rem $white;
        }
        &::before {
          content: "";
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 4rem;
      height: 4rem;
      border-radius: 0 0 0 4rem;
      box-shadow: -1rem 1rem 0 0.5rem $white;
  
        }
    }
  }
}


