.reviews {
padding: 11rem 0;
    // .reviews__inner

    &__inner {
        display: flex;
        flex-direction: column;gap: 11rem;
    }

    // .reviews__header-box

    &__header-box {
        display: flex;
        justify-content: space-between
        ;
        align-items: center;
    }

    // .reviews__title

    &__title {
     
    }

    // .reviews__btn

    &__btn {
        background-color: $green;
    }

    // .reviews__btn-text

    &__btn-text {
    }

    // .reviews__btn-svg-box

    &__btn-svg-box {
        & svg {
            fill: $black;
        }
    }

    // .reviews__swiper-box

    &__swiper-box {

        margin: 0 -5rem;
    }

    // .reviews__swiper

    &__swiper {
      
    }

    // .reviews__swiper-wrapper

    &__swiper-wrapper {
        margin: 11rem 0;
        padding-left: 10rem;
    }

    // .reviews__swiper-slide

    &__swiper-slide.swiper-slide {
        transition: transform 0.3s;
        &.swiper-slide-active {
          transform: rotate(-8deg) translateY(6rem);
          z-index: 5
        }
        &.swiper-slide-next {
          transform: rotate(2deg) translateY(-8.6rem);
          z-index: 4
        }
        &.swiper-slide-next + .swiper-slide {
          transform: rotate(8deg) translateY(6.2rem);
          z-index: 3
        }
        &.swiper-slide-next + .swiper-slide + .swiper-slide {
          transform: rotate(6deg) translateY(-4rem);
          z-index: 2
        }
        &.swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {
          transform: rotate(-8deg);
          z-index: 1
        }
    }
    // .reviews__slide-link

    &__slide-link {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        width: 45.2rem;
        height: 48.2rem;
        justify-content: space-between;
        border-radius: 4rem;

    }

    // .reviews__slide-link--video

    &__slide-link--video {
        gap: 2.2rem;
    }

 

    // .reviews__slide-link--text

    &__slide-link--text {
        gap: 3rem;
    }

    // .reviews__slide-link--grey

    &__slide-link--grey {
        background-color: $light-grey;
    }

    // .reviews__slide-link--green

    &__slide-link--green {
        background-color: $green;
    }

        // .reviews__slide-link--black

        &__slide-link--black {
            background-color: $black;
            color: $white;
        }
    

    // .reviews__slide-title

    &__slide-title {
        position: relative;
        z-index: 1;
        & span::before {
            height: 3.8rem;
            z-index: -1;
            transform: translateY(-50%
            );
        }
    }

    // .reviews__slide-video-box

    &__slide-video-box {
    }

    // .reviews__slide-info-box

    &__slide-info-box {
        display: flex;
        justify-content: space-between;
    }

    // .reviews__slide-content-box

    &__slide-content-box {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    // .reviews__slide-name

    &__slide-name {
    }

    // .reviews__slide-data

    &__slide-data {
    }

    // .reviews__slide-photo-box

    &__slide-photo-box {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        overflow: hidden;
        & img {
            object-fit: contain;
        }
    }

   

    // .reviews__slide-text-box

    &__slide-text-box {
        margin-bottom: 1.5rem;
    }

    // .reviews__slide-text

    &__slide-text {
        overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;

    }


    // .reviews__swiper-button-prev

    &__swiper-button-prev {
    }

    // .reviews__swiper-button-next

    &__swiper-button-next {
    }
}
