.similar-products {
    padding: 11rem 0;

    // .similar-products__inner

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    // .similar-products__title

    &__title {
    }

    // .similar-products__swiper

    &__swiper {
        width: 100%!important
        ;
    }

    // .similar-products__swiper-slide-swiper-wrapper

    &__swiper-slide-swiper-wrapper {
    }

    // .similar-products__swiper-slide-swiper-slide

    &__swiper-slide-swiper-slide {
    }

    // .similar-products__swiper-slide-link

    &__swiper-slide-link {
    }

    // .similar-products__swiper-slide-swiper-button-prev

    &__swiper-slide-swiper-button-prev {
    }

    // .similar-products__swiper-slide-swiper-button-next

    &__swiper-slide-swiper-button-next {
    }
}
