<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__nav-wrapper">
        <a class="header__logo" href="#">
          <p class="header__logo-text logo">Sacreds</p>
        </a>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a class="header__nav-link subscription" href="#">Каталог</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link subscription" href="#">Доставка</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link subscription" href="#">О нас</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link subscription" href="#">Отзывы</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link subscription" href="#">Статьи</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link subscription" href="#">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header__btn-wrapper">
        <div class="header__tel-wrapper">
          <div class="header__tel-box">
            <div class="header__tel-svg-box">
              <img src="./assets/images/icons/phone.svg" alt="" />
            </div>
            <a href="tel:+79000000000" class="header__tel-link title-h5"
              >8(900)000-00-00</a
            >
          </div>
          <p class="header__schedule subscription">
            с 10:00 до 22:00 с пн по вт
          </p>
        </div>
        <div class="header__btn-box">
          <a href="#" class="header__btn-link button-circle">
            <div class="header__btn-svg-box">
              <img src="./assets/images/icons/personal.svg" alt="" />
            </div>
          </a>
          <a href="#" class="header__btn-link button-circle">
            <div class="header__btn-svg-box">
              <img src="./assets/images/icons/heart.svg" alt="" />
            </div>
          </a>
          <a href="#" class="header__btn-link button-circle">
            <div class="header__btn-svg-box">
              <img src="./assets/images/icons/basket.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
