<div class="notification">
    <div class="notification__image">
        <img src="./assets/images/personalAccountProduct.webp" alt="" />
    </div>
    <div class="notification__content">
        <div class="notification__cart subscription">
            <div class="notification__cart-icon">
                <img src="./assets/images/icons/cart6.svg" alt="" />
            </div>
            <p class="notification__cart-text">Добавлен в корзину</p>
        </div>
        <p class="notification__title title-h5">Рапэ Katukina Pau Mulata</p>
        <div class="notification__subscription subscription">
            <p>легкий</p>
            <p>|</p>
            <p>3 грамма</p>
        </div>
    </div>
</div>
