<div class="ribbon">
    <div class="ribbon__row">
      <div class="ribbon__swiper swiper-ribbon swiper">
        <ul class="ribbon__list swiper-wrapper swiper-wrapper">
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
          <li class="ribbon__list-item swiper-slide">
            <p class="ribbon__text">Sacreds</p>
            <div class="ribbon__svg-box">
              <img src="./assets/images/icons/ribbon.svg" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>